#title-block {
  height: 650px;
  text-align: right;

  .container {
    position: absolute;
    left: 50%;

    .offset {
      position: relative;
      left: -50%;
      z-index: 5;
    }
  }

  h1, h2 {
    margin: 0;
    color: #FFF;
  }

  h1 {
    padding: 300px 0 5px;
    font-size: 40px;
    font-weight: 600;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
  }
}