.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
build
demo
src
.gitignore
test
typings
typings.json
.travis.yml
.codeclimate.yml
gulpfile.js
docs
coverage
webpack
karma.conf.js
tsconfig.json
tslint.json